/* COMMON */

/* debug rules */
.debug{
  text-align: center;

  color: black;

  height: 150px;
  line-height: 150px;

  background-color: pink;
  border: 1px solid black;
}

#nest{
  padding: 5px 5px;
  height: 100%;
}

.debug-nest{
  text-align: center;

  color: black;

  height: 140px;
  line-height: 140px;

  background-color: lightblue;
  border: 1px solid white;
}

/* debug margin bottom */
.mb{
  margin-bottom: 5px;
}

/* HEADER */
header{
  margin-bottom: 30px;
}

/* -------------------------------------- */

/* JUMBOTRON */
#ms-jumbotron{
  margin-bottom: 30px;
}
/* -------------------------------------- */

/* LOGOS */
#ms-logos{
  margin-bottom: 30px;
}

/* -------------------------------------- */

/* FEATURES*/
#ms-features{
  margin-bottom: 30px;
}

/* -------------------------------------- */

/* FOR DEVELOPERS */
#ms-for-developers{
  margin-bottom: 30px;
}

/* -------------------------------------- */

/* NEEDS */
#ms-needs{
  margin-bottom: 30px;
}

/* -------------------------------------- */

/* WORLD */
#ms-world{
  margin-bottom: 30px;
}

/* -------------------------------------- */

/* ROCKERBOX */
#ms-rockerbox{
  margin-bottom: 30px;
}

/* -------------------------------------- */

/* GET STARTED */
#ms-get-started{
  margin-bottom: 30px;
}

/* -------------------------------------- */

/* LARGE */
@media all and (min-width: 1200px){

}

/* MEDIUM */
@media all and (min-width: 992px) and (max-width: 1199px){

}

/* SMALL */
@media all and (min-width: 768px) and (max-width: 991px){

}

/* EXTRA SMALL */
@media all and (max-width: 767px){

}
