/* COMMON */
body{
  font-family: 'Raleway', sans-serif;
}
/* debug rules */
.debug{
  text-align: center;

  color: black;

  height: 150px;
  line-height: 150px;

  background-color: pink;
  border: 1px solid black;
}

#nest{
  padding: 5px 5px;
  height: 100%;
}

.debug-nest{
  text-align: center;

  color: black;

  height: 140px;
  line-height: 140px;

  background-color: lightblue;
  border: 1px solid white;
}

/* debug margin bottom */
.mb{
  margin-bottom: 5px;
}

/* HEADER */
header{
}

/* NAV */
.ms-navigation{
  position: relative;
  height: 65px

  color: #031b4f;
  font-size: 1.6rem;
  font-weight: 500;
}
.ms-logo{
  height: 65px;
  line-height: 65px;

  margin-right: 6%;
}

.ms-navigation .ms-logo img{
  width: 150px;
  height: auto;

  padding-bottom: 6px;
  vertical-align: middle;
}

.ms-navlinks ul{
  list-style-type: none;

  height: 65px;
  line-height: 65px;

  margin: 0;
  padding: 0;
}

.ms-navlinks ul li{
  vertical-align: middle;
  display: inline-block;

  margin-right: 20px;
}

.ms-navlinks ul li a,
.ms-navsign ul li a{
  text-decoration: none;
  color: #031b4f;
}

.ms-navsign ul{
  list-style-type: none;

  height: 65px;
  line-height: 65px;

  margin: 0;
  padding: 0;
}

.ms-navsign ul li{
  vertical-align: middle;
  display: inline-block;

  margin-right: 20px;
}

.ms-navsign ul li:last-child{
  margin-right: 0;
}

#ms-sign-button{
  padding: 10px 15px;

  border: 1px solid #006AFF;
  border-radius: 0.5rem;
}
a#ms-sign-button{
  color: #006AFF;
}
a:hover#ms-sign-button{
  color: #006AFF;
}

.ms-hamburger{
  height: 65px;
  line-height: 65px;
}

.dropdown{
  /* display: inline-block; */
}

.dropdown-hamburger{
  display: none;
  position: absolute;

  left: 0;

  background-color: #f9f9f9;
  max-width: 200px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-hamburger{
  display: block;
}

/* -------------------------------------- */

/* JUMBOTRON */
#ms-jumbotron{
  background-image: url(../img/jumbo.svg);

  height: 500px;
  margin-bottom: 30px;
}

.ms-jumbo-text{
  color: white;
  text-align: left;

  padding: 52.91px 0;
}

.ms-jumbo-text h1{
  font-size: 6rem;
  font-weight: bold;
  line-height: 7.5rem;

  margin-bottom: 30px;
  margin-top: 0;
}
.ms-jumbo-text p{
  font-size: 2.5rem;
  font-weight: 200;

  margin-bottom: 0;
}

.ms-sign-in {
  text-align: center;

  background-color: white;
  border-radius: 0.5rem;

  margin-top: 52.91px;
  margin-left: 30px;
  padding-top: 40px;
}

.ms-form-group{
  text-align: left;
}

.ms-sign-in h3{
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: 600;
  color: #031C4E;

  padding-left: 40px;
  padding-right: 40px;

  margin: 0;
}

#ms-get-started{
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: 600;
  color: #006AFF;
}

.ms-form-group{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
input[type=email],
input[type=password]{
  color: grey;
  border: 1px solid rgb(229, 232, 237);
  border-radius: 0.3rem;

  width: 100%;

  outline: none;

  padding: 10px 5px;
}

input[type=email]{
  margin-bottom: 10px;
}

.ms-create-account{
  color: white;
  font-weight: 500;

  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  border: none;
  border-radius: 0.3rem;
  background-color: #579AFF;

  height: 30px;
}

#ms-google-sign{
  color: grey;
  font-weight: 500;

  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  border: none;
  border-radius: 0.3rem;
  background-color: white;

  box-shadow: 1px 1px 1px 1px lightgrey;

  height: 30px;
}

#ms-google-sign img{
  height: 20px;

  vertical-align: middle;
}

.ms-term-service{
  font-size: 1.3rem;
  padding-top: 10px;
  padding-bottom: 30px;
}
/* -------------------------------------- */

/* LOGOS */
#ms-logos{
  margin-bottom: 30px;
}

/* -------------------------------------- */

/* FEATURES*/
#ms-features{
  margin-bottom: 30px;
}

/* -------------------------------------- */

/* FOR DEVELOPERS */
#ms-for-developers{
  margin-bottom: 30px;
}

/* -------------------------------------- */

/* NEEDS */
#ms-needs{
  margin-bottom: 30px;
}

/* -------------------------------------- */

/* WORLD */
#ms-world{
  margin-bottom: 30px;
}

/* -------------------------------------- */

/* ROCKERBOX */
#ms-rockerbox{
  margin-bottom: 30px;
}

/* -------------------------------------- */

/* GET STARTED */
#ms-get-started{
  margin-bottom: 30px;
}

/* -------------------------------------- */

/* LARGE */
@media all and (min-width: 1200px){
  .ms-hamburger{
    display: none;
  }
}

/* MEDIUM */
@media all and (min-width: 992px) and (max-width: 1199px){
  .ms-hamburger{
    display: none;
  }
}

/* SMALL */
@media all and (min-width: 768px) and (max-width: 991px){
  .ms-navlinks,
  .ms-navsign {
    display: none;
  }
}

/* EXTRA SMALL */
@media all and (max-width: 767px){
  .ms-navlinks,
  .ms-navsign {
    display: none;
  }
}
