/* COMMON */
body{
  font-family: 'Raleway', sans-serif;
}
/* debug rules */
.debug{
  text-align: center;

  color: black;

  height: 150px;
  line-height: 150px;

  background-color: pink;
  border: 1px solid black;
}

#nest{
  padding: 5px 5px;
  height: 100%;
}

.debug-nest{
  text-align: center;

  color: black;

  height: 140px;
  line-height: 140px;

  background-color: lightblue;
  border: 1px solid white;
}

/* debug margin bottom */
.mb{
  margin-bottom: 30px;
}

/* HEADER */
header{
}

/* NAV */
.ms-navigation{
  position: relative;
  height: 65px

  color: #031b4f;
  font-size: 1.6rem;
  font-weight: 500;
}
.ms-logo{
  height: 65px;
  line-height: 65px;

  margin-right: 6%;
}

.ms-navigation .ms-logo img{
  width: 150px;
  height: auto;

  padding-bottom: 6px;
  vertical-align: middle;
}

.ms-navlinks ul{
  list-style-type: none;

  height: 65px;
  line-height: 65px;

  margin: 0;
  padding: 0;
}

.ms-navlinks ul li{
  vertical-align: middle;
  display: inline-block;

  margin-right: 20px;
}

.ms-navlinks ul li a,
.ms-navsign ul li a{
  text-decoration: none;
  color: #031b4f;
}

.ms-navsign ul{
  list-style-type: none;

  height: 65px;
  line-height: 65px;

  margin: 0;
  padding: 0;
}

.ms-navsign ul li{
  vertical-align: middle;
  display: inline-block;

  margin-right: 20px;
}

.ms-navsign ul li:last-child{
  margin-right: 0;
}

#ms-sign-button{
  padding: 10px 15px;

  border: 1px solid #006AFF;
  border-radius: 0.5rem;
}
a#ms-sign-button{
  color: #006AFF;
}
a:hover#ms-sign-button{
  color: #006AFF;
}

.ms-hamburger{
  height: 65px;
  line-height: 65px;
}

.dropdown{
  /* display: inline-block; */
}

.dropdown-hamburger{
  display: none;
  position: absolute;

  left: 0;

  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.ms-hamburger:hover .dropdown-hamburger{
  display: block;
}


/* -------------------------------------- */


/* JUMBOTRON */
#ms-jumbotron{
  background-image: url(../img/jumbo.svg);

  padding: 50px 0;
}

.ms-jumbo-text{
  color: white;
  text-align: left;
}

.ms-jumbo-text h1{
  font-size: 6rem;
  font-weight: bold;
  line-height: 7.5rem;

  margin-bottom: 30px;
  margin-top: 0;
}
.ms-jumbo-text p{
  font-size: 2.5rem;
  font-weight: 200;

  margin-bottom: 0;
}

.ms-sign-in {
  text-align: center;

  background-color: white;
  border-radius: 0.5rem;

  margin-left: 30px;
  padding-top: 40px;
}

.ms-form-group{
  text-align: left;
}

.ms-sign-in h3{
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: 600;
  color: #031C4E;

  padding-left: 40px;
  padding-right: 40px;

  margin: 0;
}

#ms-get-started{
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: 600;
  color: #006AFF;
}

.ms-form-group{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
input[type=email],
input[type=password]{
  color: grey;
  border: 1px solid rgb(229, 232, 237);
  border-radius: 0.3rem;

  width: 100%;

  outline: none;

  padding: 10px 5px;
}

input[type=email]{
  margin-bottom: 10px;
}

.ms-create-account{
  color: white;
  font-weight: 500;

  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  border: none;
  border-radius: 0.3rem;
  background-color: #579AFF;

  height: 30px;
}

#ms-google-sign{
  color: grey;
  font-weight: 500;

  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  border: none;
  border-radius: 0.3rem;
  background-color: white;

  box-shadow: 1px 1px 1px 1px lightgrey;

  height: 30px;
}

#ms-google-sign img{
  height: 20px;

  vertical-align: middle;
}

.ms-term-service{
  font-size: 1.3rem;
  padding-top: 10px;
  padding-bottom: 30px;
}

/* -------------------------------------- */

/* LOGOS */
#ms-logos{
  background-color: #F3F5F9;
  padding: 50px 0;
}

.ms-logo-title{
  text-align: center;

  color: #6F7B97;

  margin-bottom: 10px;
}

.ms-logo-title h6{
  margin: 0;

  font-size: 1.5rem;
  font-weight: bold;
}

.ms-logo-box{
  width: calc(100% / 6);
}

.ms-logo-container li img{
  width: 100%;
}

.ms-logo-container ul{
  margin: 0;
  padding: 0;
}

.ms-logo-container ul li{
  list-style-type: none;
  display: inline-block;

  width: calc((100% - 50px) / 6);

  margin-right: 10px;
}

.ms-logo-container ul li:last-child{
  margin-right: 0;
}

.ms-logo-link {
  text-align: center;
}

.ms-logo-link a{
  text-decoration: none;
  color: #006AFF;
}
/* -------------------------------------- */

/* FEATURES*/
#ms-features{
  padding: 70px 0;
}

.ms-heading-section{
  text-align: center;

  margin-bottom: 40px;
}

.ms-heading-section h2{
  color: #000042;
  font-size: 2.6rem;
  font-weight: bold;

  margin-top: 0;
}

.ms-heading-section p{
  color: #6D7A94;
  font-size: 1.8rem;
}

/* nav */
.ms-feature-nav ul{
  list-style-type: none;
  padding: 0;
}

.ms-feature-nav li{
  border-left: 2px solid lightgrey;

  font-size: 1.7rem;

  padding: 10px 10px;
}

.ms-feature-nav li:hover{
  border-left: 2px solid #006AFF;
}

.ms-feature-nav li a{
  color: #6D7A94;
  text-decoration: none;
}

/* features box */
.ms-features-box{
  text-align: left;
}

.ms-features-box h5{
  color: #000042;
  font-weight: medium;
  font-size: 1.7rem;
  margin-top: 15px;
  margin-bottom: 10px;
}
.ms-features-box p{
  color: #6D7A94;
  font-weight: medium;
  font-size: 1.4rem;

  margin-bottom: 0;
}

/* -------------------------------------- */

/* FOR DEVELOPERS */
#ms-for-developers {
  background-color: #F3F5F9;

  padding-top: 70px;
  padding-bottom: 40px;
}

#ms-for-developers .ms-heading-section h2{
  margin-bottom: 30px;
}

.ms-left-arrow{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 4rem;
  width: 10%;
}

.ms-right-arrow{
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  font-size: 4rem;
  width: 10%;
}

.ms-right-arrow a{
  color: #000042;
}

.ms-left-arrow a{
  color: #000042;
}

.ms-right-arrow a:hover{
  color: #6F7B97;
}

.ms-left-arrow a:hover{
  color: #6F7B97;
}

.ms-carousel{
  display: inline-block;
  vertical-align: middle;
  width: 79%;
}

.ms-carousel img{
  width: 100%;
}

.ms-carousel-subtitle{
  text-align: center;
  color: #000042;
  font-size: 1.4rem;
  font-weight: 500;

  margin-top: 20px;
  margin-bottom: 10px;
}

.ms-carousel-points{
  text-align: center;
}

.ms-carousel-points ul{
  padding: 0;
}

.ms-carousel-points ul li{
  display: inline-block;
  text-decoration: none;

  border: 1px solid #006AFF;
  border-radius: 50%;

  width: 10px;
  height: 10px;
}

.ms-carousel-points ul li:hover{
  background-color: #006AFF;
}
/* -------------------------------------- */

/* NEEDS */
#ms-needs{
  padding: 50px 0;
}

.ms-features-box a{
  text-decoration: none;
  color: #006AFF;

  font-weight: medium;
  font-size: 1.5rem;
}

#ms-needs .ms-features-box p{
  margin-bottom: 10px;
}

/* -------------------------------------- */

/* WORLD */
#ms-world{
  background-image: linear-gradient(#0048C5, #001E9A);

  padding: 70px 0;
}

#ms-world .ms-heading-section{
  margin: 0;
}

#ms-world .ms-heading-section h2{
  color: white;

  margin: 0;
}

.ms-world-table{
  color: white;
}

.ms-world-table table{
  table-layout: fixed;
  width: 100%;
}

.ms-world-table table tr{
  border-bottom: 1px solid white;
}

.ms-world-table table tr:last-child{
  border-bottom: none;
}

.ms-world-table table td{
  padding: 10px 0;
}

.ms-world-table table td:last-child{
  text-align: right;

  padding-right: 2%;
}

.ms-world-table table td a{
  text-decoration: none;
  color: #00EBD6;
}

.ms-td-1{
  width: 20%;
}

.ms-td-2{
  width: 60%;
}

.ms-td-3{
  width: 20%;
}
/* -------------------------------------- */

/* ROCKERBOX */
#ms-rockerbox{
  background-color: #F3F5F9;

  padding: 80px 0;
}

#ms-rockerbox .ms-heading-section{
  margin-bottom: 100px;
}

.ms-rockerbox-container{
  text-align: center;
}

#ms-rockerbox .ms-carousel{
  background-color: white;

  padding: 50px 0;

  margin-bottom: 30px;
}

#ms-rockerbox-img{
  width: 40%;
}

#ms-rockerbox p{
  color: #6F7B97;
  font-size: 2.2rem;

  margin-top: 30px;
}

#ms-rockerbox h5{
  font-weight: bold;
  font-size: 1.7rem;
  color: #000042;

  margin-top: 15px;
  margin-bottom: 5px;
}

#ms-rockerbox-founder{
  display: block;
  font-weight: medium;
  font-size: 1.7rem;
  color: #000042;

  margin-bottom: 30px;
}

.ms-carousel a{
  text-decoration: none;

  color: #006AFF;
  font-size: 1.5rem;
  font-weight: 600;
}

/* -------------------------------------- */

/* GET STARTED */
#ms-get-started{
  margin-bottom: 30px;
}

/* -------------------------------------- */

/* LARGE */
@media all and (min-width: 1200px){

  /* HEADER */
  .ms-hamburger{
    display: none;
  }
}

/* MEDIUM */
@media all and (min-width: 992px) and (max-width: 1199px){

  /* HEADER */
  .ms-hamburger{
    display: none;
  }
}

/* SMALL */
@media all and (min-width: 768px) and (max-width: 991px){

  /* HEADER */
  .ms-navlinks,
  .ms-navsign {
    display: none;
  }

  /* -------------------------------------- */

  /* JUMBOTRON */
  .ms-jumbo-text{
    text-align: center;
  }
  .ms-sign-in{
    margin-top: 30px;
    margin-left: 0;
  }

  /* -------------------------------------- */

  /* NEEDS */
  .ms-needs-box{
    margin-bottom: 35px;
  }

  /* -------------------------------------- */

  /* WORLD */
  .ms-table-1{
    margin-bottom: 20px;
  }
}

/* EXTRA SMALL */
@media all and (max-width: 767px){

  /* HEADER */
  .ms-navlinks,
  .ms-navsign {
    display: none;
  }

  /* JUMBOTRON */
  .ms-jumbo-text{
    text-align: center;
  }
  .ms-sign-in{
    margin-top: 30px;
    margin-left: 0;
  }

  /* LOGOS */
  .ms-logo-container ul li{
    width: calc((100% - 10px) / 2);

    padding: 0 20px;
  }

  .ms-logo-container ul li{
    margin-right: 0;
  }

  /* -------------------------------------- */

  /* LOGOS */

  /* -------------------------------------- */

  /* FEATURES*/
  .ms-last{
    margin: 0;
  }

  /* -------------------------------------- */

  /* NEEDS */
  .ms-needs-box{
    margin-bottom: 35px;
  }

  /* -------------------------------------- */

  /* WORLD */
  .ms-table-1{
    margin-bottom: 20px;
  }

  .ms-td-1{
    width: 20%;
  }

  .ms-td-2{
    width: 55%;
  }

  .ms-td-3{
    width: 25%;
  }
}
